// ================== COLORS ================= //

// ================ BREAKPOINTS ============== //

$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1224px,
  xl2: 1424px,
  xl3: 1824px
);