{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ author.last_name }}, {{ author.first_name }}</h1>

  <p><strong>Birth Date:</strong> {{ author.date_of_birth }}</p>
  {% if author.date_of_death %}
    <p><strong>Death Date:</strong> {{ author.date_of_death }}</p>
  {% endif %}

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books Written by {{ author.first_name }} {{ author.last_name }}</h4>

    {% for book in author.book_set.all %}
      <hr>
      <p><strong>Title:</strong> {{ book.title }} <small><a href="{{ book.get_absolute_url }}">View book</a></small></p>
    {% endfor %}
  </div>
{% endblock %}
